[submodule "services/CTFd"]
	path = services/CTFd/CTFd
	url = https://github.com/CTFd/CTFd.git
[submodule "services/sql-injection-lab/sql-injection-lab"]
	path = services/sql-injection-lab/sql-injection-lab
	url = https://github.com/nkcyber/sql-injection-lab.git
[submodule "services/ai-hacking-lab/ai-hacking-lab"]
	path = services/ai-hacking-lab/ai-hacking-lab
	url = https://github.com/nkcyber/ai-hacking-lab.git
[submodule "services/webshell/ropchain-lab/ropchain-lab"]
	path = services/webshell/ropchain-1/ropchain-lab
	url = https://github.com/nkcyber/ropchain-lab
